/****************** format *********************/
:root {
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #fff;
}

/* **************** Section INICIO******************** */

.start {
  min-height: 100vh;

  background-image: url(../img/playa-tropical.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.div-start-text {
  background-color: rgba(0, 0, 0, 0.356);
  width: 100%;
}

.start-text {
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 1rem 5rem;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttom-container {
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.button {
  border-radius: 20px;
  width: 10rem;
  height: 3rem;
  background: rgba(79, 79, 148, 0.705);
  border-style: none;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.button span {
  position: absolute;
  display: block;
}
.button span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.button span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.button span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.button span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.button:hover span {
  animation-play-state: paused;
}

/******************* CENTER **********************/

.center {
  min-height: 100vh;
  background-color: #381c30;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-text {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding: 5rem;
  color: #fff;
  text-shadow: 2px 2px 2px black;
}

.div-btm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-btm-nav > img {
  transform: scale(0.3) rotateZ(180deg);
}

.mobile-btm-nav {
  animation: float 2s infinite;
}

/*
  FLOATING ANIMATION FOR BOTTOM-NAV (FOR-MOBILE-VERSION)
*/
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

/******************** END **************************/
.end {
  min-height: 100vh;
  background-image: url(../img/fondo-tablon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1.3rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 2rem;
  text-align: center;
}

.div-img{
  padding: ;
}

img{
  width: 70%;
}

@media (width >= 700px) {
  .start {
    background-image: url(../img/playa.jpg);
  }
}
